<script src="ajax.js"></script>
<h1>Express - Handlebars - JQuery - Semantic-ui Full Stack</h1>
<hr>
<button class="ui primary button" onclick="f()">Katt</button>
<hr>
{{#if x}}
    <p>Value of <span>a</span> is <span id="a">{{ a }}</span>.</p>
    <p>Value of <span>x</span> is <span id="x">{{ x }}</span>.</p>
    <p>Value of <span>y</span> is <span id="y">{{ y }}</span>.</p>
{{/if}}

{{mod2 x}}