@import url('https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
body {
    font-family: 'Allura';
    font-size: 27px;
    text-align: center;
    background-color: aquamarine;
    user-select: none;
    text-shadow: 1px 1px 4px gray;
}
span {
    font-family: 'Iosevka Web Regular';
    display: inline-block;
    border-radius: 5px;
    box-shadow: 1px 1px 3px inset black;
    font-weight: bold;
    padding: 4px 5px 1px 5px;
    color: rgb(56, 115, 140);
    text-shadow: 1px 1px 2px gray;
    min-width: 30px;
    border: solid 2px gray;
    margin: 1px 3px 0px 6px;
    background-color: antiquewhite;
    font-size: 20px;
}
